PORT=3000
PATIENT_SERVICE_URL=http://localhost:3002/patients
BOOKING_SERVICE_URL=http://localhost:3004/bookings
TEST_SERVICE_URL=http://localhost:3001/tests
BILLING_SERVICE_URL=http://localhost:3000/billing
SAMPLE_SERVICE_URL=http://localhost:3005/samples
RESULT_SERVICE_URL=http://localhost:3006/results
VERIFICATION_SERVICE_URL=http://localhost:3008/verifications
REPORT_SERVICE_URL=http://localhost:3007/reports
