PORT=3000
MONGODB_URI=mongodb://localhost:27017/labflow-verification
RESULT_SERVICE_URL=http://localhost:3006/results
SAMPLE_SERVICE_URL=http://localhost:3005/samples
DOCTOR_SERVICE_URL=http://localhost:3004/doctors
REPORT_SERVICE_URL=http://localhost:3007/reports
