PORT=3000
AUTH_SERVICE_URL=http://localhost:3001
PATIENT_SERVICE_URL=http://localhost:3002
TEST_SERVICE_URL=http://localhost:3003
BOOKING_SERVICE_URL=http://localhost:3004
DOCTOR_SERVICE_URL=http://localhost:3005
SAMPLE_SERVICE_URL=http://localhost:3006
RESULT_SERVICE_URL=http://localhost:3007
VERIFICATION_SERVICE_URL=http://localhost:3008
BILLING_SERVICE_URL=http://localhost:3009
NOTIFICATION_SERVICE_URL=http://localhost:3010
REPORT_SERVICE_URL=http://localhost:3011
DASHBOARD_SERVICE_URL=http://localhost:3012
